/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/vendor
public/laravel-u-editor
public/assets
public/uploads
/database
storage/share/views
resources/views/vendor
resources/lang/vendor
